.productView{
    background-color: red;
    width: 100%;
    height: 120px;
    
    
}

#productImage{
    width: 20%;
    background-color: yellow;
    float: left;
    
}

#productImage img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#productDesc {
    
    background-color: green;
    width: 80%;
    float: right;
}

.clear{
    clear: both;
}